<div class="center container">
<% name = current_user.present? ? current_user.email : "Bonjour"  %>
<h1>Bonjour, <%= current_user.email %></h1>
  <h1>Home page Docto.fish</h1>

  <%# <%= link_to "S'inscrire", new_user_registration_path %>
  <%# <%= link_to "S'identifier", new_user_session_path %>

  <%# <% if user_signed_in? %>
    <li class="navbar">
    <%= link_to "Sign Out",
  destroy_user_session_path, class:"nav_link" %>
    </li>

  <%# <li class="navbar">
    <%= link_to "Edit Profile",
    edit_user_registration_path, class:"nav_link" %>
  <%# </li> %>

  <%# <% else %>
  <%# <li class="navbar">
    <%= link_to "Sign Up",
    new_user_registration_path, class:"nav_link" %>
  <%# </li> %>

  <%# <li class="navbar">
    <%= link_to "Sign In",
    new_user_session_path, class:"nav_link" %>
  <%# </li> %>
  <%# <% end %>
</div>


<%# <% if user_signed_in? %>
<%# <p>Bonjour, ravie de te revoir <%= current_user.email</p> %>
<%# <% end %>
<%# <form action="/cardsfishs" method="get">
<input type="text" name="fishes" placeholder="Trouver mon poisson">
<input type="submit">
</form>

<% fishes = [ 'poisson clown', 'poisson rouge', 'poisson tête de lion', 'guppy'] %>
