<!DOCTYPE html>
<html>
  <head>
    <title>DoctoFishApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <%# <nav> %>
  <%# <h2>navbar</h2> <!-- Add this -->

    </nav> %>
  </header>
  <%= render 'layouts/navigation' %>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <p>Build footer here</p> <!-- Add this -->
  </body>
</html>
