<!DOCTYPE html>
<html>
  <head>
    <title>DoctoFishApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
  <% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", destroy_user_session_path %>
<% else %>
  <%# <%= link_to "Sign Up",  new_user_registration_path %>
  <%# <%= link_to "Log In", new_user_session_path  %>
<% end %>
  <%# <nav> %>
  <%# <h2>navbar</h2> <!-- Add this -->

    </nav> %>
  </header>
  <%= render 'layouts/navigation' %>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <p>Build footer here</p> <!-- Add this -->
  </body>
</html>
